/*======Snippet:-Custom properties: site style global constants======*/
:root {
		
		/* things in the site's primary accent color: */
		--site-accent-hex: #53C900;
	  	--site-accent-light: rgba(83,201,0,0.5);
		--site-accent-shadow: 0 0 3px rgba(83,201,0,1);
		
		/* things in the site's secondary accent color: */
		/* This version is learndash blue: */
		--site-secondary-hex: #007cff;
	  	--site-secondary-light: rgba(0,124,255,0.5);
		--site-secondary-shadow: 0 0 3px rgba(0,124,255,1);
		
		/* Things in the site's alert or highlight color (used rarely): */
		--site-alert-hex: #fa9f16; 
	  	--site-alert-light: rgba(250,159,22,0.5);
		--site-alert-shadow: 0 0 3px rgba(250,159,22,1);

		/* things in the site's "disabled" color: */
		--site-disabled-hex: DarkGray;
	  	--site-disabled-light: rgba(169,169,169,0.5);
		--site-disabled-shadow: 0 0 3px rgba(169,169,169,0.5);
		
		/* General things, like black shadows, other sitewide constants: */
		--site-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
		--site-shadow-hover: 0 4px 14px 0 rgba(0, 0, 0, 0.4);
		--hover-scale: 1.02;
		--bookmark-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
		
		/* Complexity ratings icons system: */
		--complexity-icon-shadow: 0 2px 2px rgba(0,0,0,0.5);
		
		--complexity-icon-fill-active: var(--site-accent-hex);
		--complexity-icon-stroke-active: black;
		--complexity-icon-stroke-width-active: 26px;
		
		--complexity-icon-fill-inactive: rgba(196,196,196,0.5);
		--complexity-icon-stroke-inactive: gray;
		--complexity-icon-stroke-width-inactive: 26px;
	}

/*===========Snippet-Theme: footer content style============*/

/***********Custom footer design************/
	.footer_section nav li{
		margin-bottom:0px!important;
	}
	.footer_section nav li a:hover{
		line-height:inherit;
	}
	.bb-footer .area-1{
		margin:0 auto; 
	 }						
    
	/* Mobile positioning: */
	@media (min-width: 768px) and (max-width:1024px){
		.foter-logo-col-left{width:32%!important;}
		.foter-logo-col-right{width:32%!important;}
		.foter-logo-col-center{width:25%!important;}
	}
	
	/* Adds a shadow to footer edge: */
	.bb-footer { 
		/*filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.25));*/
		box-shadow: 0 -8px 12px rgba(0,0,0,0.05) !important;
		z-index:1;
	}

/*=======snippet- Bookmarks button styling=======*/

/* Positioning for most everything: */
			button.simplefavorite-button { 
				width: 36px !important;
				height: 36px !important;
				padding: 0 !important;
				font-size: 18px !important;
				color: var(--site-accent-hex) !important;
				border-color: var(--site-accent-hex) !important;
				opacity:1!important;
				
			}

			/* Positioning for blog posts: */
			.entry-content > .simplefavorite-button { 
				margin-bottom: 22px;
			}
			
			/* Positioning for projects: */
			.bb-course-banner-inner .bb-course-points { 
				margin-bottom: -5px; 
				margin-top: 18px;
			}	

			/* Positioning for shop: */
			.woocommerce-page .summary .single_add_to_cart_button { 
				margin-right: 10px;
			}
			

			/* Useful if using text too: */
			.simplefavorite-button .fa-bookmark, 
			.simplefavorite-button .fa-bookmark-o { 
				
				color: #53c900!important;
			}
			
		.simplefavorite-button i.fa-bookmark::before { 
				height: 18px;
			}
			
			/*Positioning for Light Box*/
			.bookmark-wrap{
				display: inline-block;
			}
			.bookmark-link {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				height: 76px;
			}
			i.bookmark{
				background:url("/wp-content/uploads/2020/03/bookmark.png");
				width:16px;
				background-size: cover;
				background-repeat: no-repeat;
				height: 18px;
			}
			i.bookmark:hover,i.bookmark.highlight{
				background:url("/wp-content/uploads/2020/03/bookmark-hover.png");
				width:16px;
				background-size: cover;
				background-repeat: no-repeat;
				height: 18px;
			}
			.simplefavorite-button i.fa-bookmark-icon{
				background:url("/wp-content/uploads/2020/03/bookmark-hover.png");
				width:16px;
				background-size: cover;
				background-repeat: no-repeat;
				height: 18px;
				display:inline-block;
			} 
			.simplefavorite-button i.fa-bookmark-active{
				background:url("/wp-content/uploads/2020/03/bookmark-active.png");
				width:16px;
				background-size: cover;
				background-repeat: no-repeat;
				height: 18px;
				display:inline-block;
			} 
			.bookmark-wrap.menu-item-has-children>a:before {
				content: '';
				display: block;
				position: absolute;
				bottom: 7px;
				left: 4px;
				width: 15px;
				height: 15px;
				background: #fff;
				border-right: 1px solid #e7e9ec;
				border-bottom: 1px solid #e7e9ec;
				-webkit-transform: rotate(-135deg);
				-ms-transform: rotate(-135deg);
				transform: rotate(-135deg);
				opacity: 0;
				visibility: hidden;
			}
			.bookmark-wrap.menu-item-has-children.selected>a:before {
				opacity: 1;
				visibility: visible;
				z-index: 1002;
			}
			.bookmark-dropdown {
				background: #fff;
				border: 1px solid #e7e9ec;
				box-shadow: 0 2px 7px 1px rgba(0,0,0,.05), 0 6px 32px 0 rgba(18,43,70,0.1);
				border-radius: 4px;
				list-style: none;
				position: absolute;
				right: -15px;
				top: -webkit-calc(100% - 15px);
				top: calc(100% - 15px);
				margin: 0;
				min-width: 430px;
				overflow: hidden;
				opacity: 0;
				visibility: hidden;
				z-index: 1001;
			}
			.menu-item-has-children.selected .bookmark-dropdown {
				opacity: 1;
				visibility: visible;
			}
			.header-bookmark-link i{
              font-size:18px;
            }
			.header-bookmark-link.current i{
					color:rgb(83, 201, 0)!important;
			}
			.fav-light-box .favorites-list{
				margin:0px;
			}
			.fav-light-box ul.favorites-list:nth-child(2){
				display:none;
			}
			.fav-light-box .favlist{
				padding:5px 10px;
				border: none;
				position: relative;
			}
			.fav-light-box .favlist:nth-child(odd){
				background-color:#f6f6f6;  
			}
			.fav-light-box .favlist img{
				width:70px;
				box-shadow: var(--site-shadow);
				margin-top: 5px;
				margin-bottom: 4px; 
			}
			.fav-light-box .favlist p{
				margin:0;
				font-size:14px;
			}
			.fav-light-box .favlist a{
				/*font-size:16px;*/
				font-size:15px;
				font-weight: normal;
				margin-top:5px;
				margin-bottom:5px;
				display:block;
			}
/*BRUCE*/
			.fav-light-box .favlist i{
				margin-top: 2px;
				margin-left: 2px;
				font-size:18px;
			}
			
			.fav-light-box button.simplefavorite-button,
			.favlist button.simplefavorite-button{
				border: none;
				width: auto !important;
				height: auto!important;
				position: absolute;
				left: 12px;
				top: 5px;
				opacity:1;	
			}
			.bkmark_template .favlist button.simplefavorite-button{
				left: 3px;
				top: 5px;
			}
			.bookmark-footer{
				background-color:#f6f6f6; 
				padding: 10px;
				overflow: hidden;
				border-top: 1px solid #e7e9ec;
			}

			.favmore{
				float:left;
				background-color:#53c900;
				color: #fff;
				border-radius: 100px;
				/*width: 36%;*/
				-webkit-transition: all linear .2s;
				transition: all linear .2s;
				font-size: 14px;
				display: inline-block;
				padding: 6px 22px;
				line-height: 1.471;
				text-align:center;
			}
			.favmore a,.favmore a:hover{
				color: #fff;
			}
			.favorites-list li img{
				width:70px;
				box-shadow: 0px 0px 3px 2px #ccc;
			}
			.bkmark_template .favorites-list li{
				display: inline-block;
				line-height: 23px;
				padding:10px 0px;	
			}
			.bkmark_template .favorites-list{
				-moz-column-count: 4;
				-moz-column-gap: 20px;
				-webkit-column-count: 2;
				-webkit-column-gap: 40px;
				column-count: 2;
				column-gap: 40px;
			}
			
			.page-id-29003 .entry-header .entry-title{
				font-size: 1rem;
                line-height: 1;
				text-transform: lowercase;
			}  
			.bkmark_template ul.favorites-list:nth-child(2){
				    display:none;
			}
			.favorites-list{
                 margin:0;
			}
			.favlist a{
				font-weight: 700;
			}
			.favorites-list li{
                  position:relative; 
				  padding:5px 0px;	
			}
			.favorites-list .favlist p{
				  margin:0px; 
			  } 
			/**************Light Box Button Design****************/
			.bookmark-filter .filter-list{
				list-style:none;
				overflow: hidden;
                margin: 0;
			}
			.bookmark-filter{
				margin:10px;
			}
			.bookmark-filter .filter-list li{
				float:left;
				margin-right: 12px;
			}
			
			.bookmark-filter .filter-list li button{
		        color: #53c900;
				border-color: #53c900;
				/*padding: 4px 10px;*/
				padding: 5px 16px;
				background-color: #fff;
			}
			.bookmark-filter .filter-list li button.active{
				color: #fff;
				border-color: #53c900;
				background-color: #53c900;
			}
			/***************Bookmark Main Page Button Design*******************/
			.bookmark-page-filter .bookmark-page-filter-list{
				list-style:none;
				overflow: hidden;
				margin: 0;
			}
			.bookmark-page-filter{
				margin: 10px 0px;
			}
			.bookmark-page-filter .bookmark-page-filter-list li{
				float:left;
				margin-right: 15px;
			}
			.bookmark-page-filter .bookmark-page-filter-list li button{
				color: #53c900;
				border-color: #53c900;
				padding: 6px 18px;
				background-color: #fff;
			}
			.bookmark-page-filter .bookmark-page-filter-list li button.active{
				color: #fff;
				border-color: #53c900;
				background-color: #53c900;
			}

			/***************Bookmark Main Page mobile*******************/
			@media (max-width: 640px){
				.bkmark_template .favorites-list{
					-moz-column-count: 1;
					-moz-column-gap: 20px;
					-webkit-column-count: 1; 
					-webkit-column-gap: 0px; 
					column-count: 1; 
					column-gap: 0px; 
				}
				.bookmark-page-filter .bookmark-page-filter-list li {
					margin-bottom: 10px;
				}
			}	
		

/*============Snippet- Menu main: highlight current menu section==============*/

	/* BEG for main menu icons hover: **************************************/
	/* Controls the BuddyBoss icons like search, cart, notifs: */
	.site-header i:hover {
		color: var(--site-accent-hex) !important;  
	}
	/* Lights up our main menu icon images on hover: */
	.menu-item > a:hover > img {
    	filter: drop-shadow(var(--site-accent-shadow)) !important;
	}								
	/* Lights up main menu links on hover: */
	.menu-item > a:hover {
		color: var(--site-accent-hex) !important;  
	}								
	/* END for main menu icons hover: **************************************/

	/* IDEAS: .blog, .single-post are also valid */
	.category-ideas .current-page-item > a > img,
	.category-ideas .current_page_parent > a > img {
    	filter: drop-shadow(var(--site-accent-shadow)) !important;
	}
	.category-ideas .current-page-item > a,
	.category-ideas .current_page_parent > a {
		color: var(--site-accent-hex) !important;  
		font-weight: 400;
	}

	/* PROJECTS: */
	.learndash-cpt .current-menu-item > a > img,
	.learndash-cpt .menu-item-object-sfwd-courses > a > img {
    	filter: drop-shadow(var(--site-accent-shadow)) !important;
	}
	.learndash-cpt .current-menu-item > a,
	.learndash-cpt .menu-item-object-sfwd-courses > a {
		color: var(--site-accent-hex) !important;  
		font-weight: 400;
	}

	/* SHOP: */
	.woocommerce-page .current_page_item > a > img,
	.woocommerce-page .current_page_parent > a > img{
    	filter: drop-shadow(var(--site-accent-shadow)) !important;
	}
	.woocommerce-page .current_page_item > a,
	.woocommerce-page .current_page_parent > a {
		color: var(--site-accent-hex) !important;  
		font-weight: 400;
	}

	/* COMMUNITY: */
	.groups .current_page_item > a > img {
    	filter: drop-shadow(var(--site-accent-shadow)) !important;
	}
	.groups .current_page_item > a {
		color: var(--site-accent-hex) !important;  
		font-weight: 400;
	}
		
	/* INFO: */
	.category-info .current_page_item > a > img,
	.category-info .current-page-ancestor > a > img {
    	filter: drop-shadow(var(--site-accent-shadow)) !important;
	}
	.category-info .current_page_item > a,
	.category-info .current-page-ancestor > a {
		color: var(--site-accent-hex) !important;  
		font-weight: 400;
	}

	/* PROFILE: */
	.bbp-user-page .header-aside-inner .menu-item-has-children > a > img {
    	filter: drop-shadow(var(--site-accent-shadow)) !important;
	}
	.bbp-user-page .header-aside-inner .menu-item-has-children > a,
	.bbp-user-page .header-aside-inner .menu-item-has-children > a > i {
		color: var(--site-accent-hex) !important;  
		font-weight: 400;
	}
	
/*=======Snippet-Menu secondary: icon and hover styling========*/
/**** SEE ALSO: Menu main: highlight current menu section snippet *********/


		/* Hover action for nav icons: */
		.sec_menu_icon:hover,
		.sec_menu_icon.active {
			filter: drop-shadow(var(--site-accent-shadow));
			animation: wiggle-header 500ms ease-in;
		}

		/* Nav icon basic styling: */
		.sec_menu_icon .elementor-icon-box-icon i {
			/*margin-bottom:0px; */
			font-size:40px;
		}

		/* Mobile styling: */
		@media (max-width: 767px){
		.sec_menu_icon .elementor-icon-box-icon i {
			font-size:30px;
		 }
		}
/*=============Snippet-Elementor: article intro-box-section styling============*/
section.article-intro-box {
		border-style: solid;
		border-width: 2px;
		border-color: var(--site-accent-hex);
		padding: 1em;
		background-color: rgba(0, 0, 0, 0.04);
		margin-bottom: 20px !important;
	}
/*==========Snippet-Elementor:  project and article text widget styling========*/

.article-text-block :last-child {
	  	/*margin-bottom: -20px;*/
		margin-bottom: 5px !important;
	}
		
	h2.elementor-heading-title {
		margin-top: 30px !important;
	}
/*=========Snippet- ELementor: social icons hover color=============*/
/*		i.fab.fa-instagram:hover {
*/		elementor-social-icon-instagram:hover {
			background-color: magenta !important;			
		}
		
/*		i.fab.fa-pinterest:hover,
		i.fab.fa-youtube:hover {
*/		elementor-social-icon-pinterest:hover,
		elementor-social-icon-youtube:hover {
			background-color: red !important;
		}	
/*==========Snippet- Newsletter page style==========*/
/***********Custom Newsletter Design************/
		.ph-newsletter 
		.item-body-inner{
			padding: 30px;
			background: #fff;
			border: 1px solid #e7e9ec;
			border-radius: 4px;
			margin-bottom: 30px;
		}				
        .ph-newsletter 
		.item-body-inner h2{
			font-size: 24px;
            margin-bottom: 1rem!important;
		}
		#subs-msg{
		  color: #53c900;
		  margin-bottom: 10px;
		}	
/*============Snippet- Sign up form: styling=============*/			
/*************Signup Page responsive**************/
			@media (max-width: 767px){
				.bs-bp-container-reg #buddypress #signup-form.standard-form .submit {
					overflow:hidden;
					text-align:center;
				}
			}
			@media (max-width:1080px) and (min-width:768px){
				.bs-bp-container-reg #buddypress #signup-form.standard-form .submit {
					overflow:hidden;
					text-align:center;
					width:100%;
				}
			}
			
			/*************Signup Page Label**************/
			.sigup-logo-subhdg{font-style:italic;font-size:font-size: 14px;}
			.ph_signup_txt{text-transform:lowercase;}
			#register-page form label{display:none;}
			#register-page .extended-profile legend{display:none;}
			.register-page .signup-form .field_accept-policies {
				margin-bottom: -30px!important;
			}
			.register-privacy-info{
				padding-left:30px;
			}
			.field_accept-policies .bp-checkbox-wrap .bs-styled-checkbox{
				opacity:1;
			}			
			#register-page form input[type="submit"]:disabled {
                  background: #c0c0c0!important;
              }
			body.buddypress.register .register-section-logo{margin-bottom:.6rem!important;}

	/*==========Snippet- Elementor: heading widget line height adjust ============*/	
	.elementor-widget-heading .elementor-heading-title{
		line-height:1.4;
	}	

	/*==========Snippet- Policies Page: styling==========*/
	        .table_list li a{
				font-size: 18px;
				font-weight: 500;
				line-height: 2em;
				color: #4D5C6D;
                padding-left: 6px;
			}
			.table_list{
				font-size: 18px;
				font-weight: 500;
			}
			ul.table_list,.list-style-ul{
				list-style:none;
				margin: 0;
			}
/*=============Snippet- Elementor:  project, article: image, compare widgets styling==========*/
/* Add shadow to article images:
	(also works with  UAE image compare but not needed because of other markup below): */
	.article-image img {
	  	box-shadow: var(--site-shadow);
	}
	
	/* Add shadow to UAE image comparison widget: */
	.uael-before-after-slider {
	  	box-shadow: var(--site-shadow);
	}
	
	/* Styles article image captions: */
	.article-image figcaption {
	  	font-style: italic;
	  	font-size: 12px;
	  	text-align: center;
	}
		
	/* Insures no background behind image captions: */
	.article-image figure{
	  	background-color: transparent;
	  	overflow: visible;
	}
	
/* Didn't write down what this is for:
	.elementor-widget-image-comparison .elementor-widget-container {
		overflow: visible;
	}
*/	

/*===============Menu main: correct buddyboss user profile name styling==============*/
/***********main-nav header user-name******************/
	.user-wrap.menu-item-has-children .user-name{
    	font-size:inherit;
    	font-weight:inherit;
	}
/*============Snippet- Elementor: theme page margins align==========*/
.elementor-top-column .elementor-column-wrap.elementor-element-populated {
		padding: 0 !important;
	}
	

/*=========Snippet- Ratings system=========*/
/* Style the article page's PROPERTY A rating icon: */

		/* Style the article page's PROPERTY B rating icon: */

		/* Style the article page's PROPERTY C rating icon: */
		
		/* Insures fat strokes don't get cut off by SVG bounding boxes: */
		#complexity-rating {
			overflow: visible !important;
		}

		/* Style the project course grid box's complexity rating icon: */
		.bb-course-cover .complexity-badge {
			width: 45px;
    		margin-left: 23px;
    		margin-top: 12px;
    		margin-bottom: -7px;
			/*stroke: gray;*/
			stroke-width: 6px;
		}
		/* Removes the top while space below the complexity icons on course grid to improve spacing: */
		.bb-card-course-details {
			padding-top: 12px !important;
		}

		/* Style the project start page's complexity rating SVG overall: */
		.single-sfwd-courses .complexity-badge { 
			width: 70px;
			margin-bottom: 8px;
			margin-left: 3px;
			/*stroke: gray;*/
			/*stroke-width: 10px;*/
			filter: drop-shadow(var(--complexity-icon-shadow));
		}

		/* Starting style of all complexity badges: */
		.complexity-badge { 
			fill: var(--complexity-icon-fill-inactive);
			stroke: var(--complexity-icon-stroke-inactive);
			/*stroke-width: var(--complexity-icon-stroke-width-inactive);*/
			paint-order: stroke fill;
		}
		
		/* Styling for complexity rating 1: */
		.complexity-badge.complexity-1 #complexity-rating #level-1 { 
			fill: var(--complexity-icon-fill-active);
			stroke: var(--complexity-icon-stroke-active);
		}

		/* Styling for complexity rating 2: */
		.complexity-badge.complexity-2 #complexity-rating #level-1,
		.complexity-badge.complexity-2 #complexity-rating #level-2 { 
			fill: var(--complexity-icon-fill-active);
			stroke: var(--complexity-icon-stroke-active);
		}

		/* Styling for complexity rating 3: */
		.complexity-badge.complexity-3 #complexity-rating #level-1,
		.complexity-badge.complexity-3 #complexity-rating #level-2,
		.complexity-badge.complexity-3 #complexity-rating #level-3	{
			fill: var(--complexity-icon-fill-active);
			stroke: var(--complexity-icon-stroke-active);
		}
/*===========Snippet:- Theme:  fix wrong colors here and there=============*/
/* This fixes blue icon color on page load from menu click */ 
	.primary-menu a:focus>i, .primary-menu a:hover>i { color: var(--site-accent-hex); }

/*============Snippet: Quickview customizations==============*/
/**** Add styling to Iconic and Barn2 Quickview plugins so they match theme.****************/ 
		
		/* Style both Barn2 nd Iconic "se more in shop" links */
		#jckqv .iconic-shop-link,
		.wc-quick-view-modal .barn2-shop-link {
			font-family: "Roboto", Arial, sans-serif;
			font-style: italic;
			font-weight: normal !important;
			font-size: 14px !important;
		}

		/**** Barn2 styling section: ***************************************************************/
				
		/* Haider added this to hide spurious "see in shop" button in shop proper,
		(caused by our Barn2 "see in shop" hok, see above): */
		.woocommerce-page .barn2-shop-link {
			display:none;
		} 
	
		/* Haider added this to control position of "see in shop" button on Barn2 QV lightbox: */
/*		.wc-quick-view-modal .btn-prod-page {
			display:block;
		} 
*/						
		
		/**** Iconic styling section: ***************************************************************/
		
		/* Style the product variants selector: */
		#jckqv .variations_button{
			float:left;
		}
		
		/* Get rid of junk space below varinats selector: */
		#jckqv table.variations {
			margin-bottom: -20px;
		}

		/* Give space between price and add to cart button: */
		#jckqv span.price {
			margin-bottom: 16px;
		}

		/* Style the add to cart button: */
		#jckqv .single_add_to_cart_button {
			border-radius: 25px !important;
			text-transform: lowercase;
			height: 36px;
			padding: 0 16px;
			font-family: "Roboto", Arial, sans-serif;
			font-style: normal;
			font-weight: normal;
			font-size: 14px !important;
			color: #FFFFFF;
			border-color: var(--site-accent-hex);
		}			
		
		/* Position the Bookmark button on the quickview page: */
		#jckqv .fav_btn .simplefavorite-button {
			margin-top:0px !important;
			padding:10px;
		}	
		
		/* Position the bookmark container: */
		#jckqv .fav_btn{
			float:left;
			margin-left:10px;
			margin-bottom:0;
		}
		
		/* Position the "See in shop" link */
		#jckqv a.iconic-shop-link {
			padding-top: 3px;
			margin-bottom:20px;
		}
				
		
		@media screen and (min-width: 960px){
			.wc-quick-view-modal.with-product-image.with-product-details{
				background: #fff;
				padding: 40px 40px 30px;
				max-width: 800px;
				text-align: left;
				margin: 30px auto;
				position: relative;
			}
			.wc-quick-view-modal.with-product-details div.wc-quick-view-product .wc-quick-view-product-gallery {
				min-width: 60%!important;
				max-width: 60%!important;
			}
			.blocker .wc-quick-view-modal div.wc-quick-view-product .wc-quick-view-product-summary {
				padding: 0;
				width: 35%!important;
				float: right!important;
			}
		}	
		.wc-quick-view-modal div.wc-quick-view-product form.cart table.variations {
			width: 100%;
			max-width: 100%;
			background: #eee;
			margin: 0 0 35px;
			border-radius: 3px;
			width: 100%;
			border: none;
		}
		.wc-quick-view-modal div.wc-quick-view-product form.cart table.variations .value{
			padding-bottom: 0.2rem;
			padding-left: 0.2rem;
		}
		.wc-quick-view-modal div.wc-quick-view-product form.cart table.variations td.label{
			padding-left: 0.5rem;
			padding-right: 0.5rem;
		}
		.wc-quick-view-modal .quantity{
			display:none!important;
		}
		.wc-quick-view-modal div.wc-quick-view-product .product_meta {
			display: block;
			margin: 0 0 25px;
			background: #f7f7f7;
			padding: 0;
			border-radius: 3px;
			font-size: 12px;
			clear: both;
		}
		.wc-quick-view-modal div.wc-quick-view-product .product_meta .pr-sub-heading{
			display:none;
		}
		.wc-quick-view-modal div.wc-quick-view-product form.cart{
			overflow:hidden;
		}
		.wc-quick-view-modal .button {
			border-radius: 25px;
			text-transform: lowercase;
			height: 41px;
			padding: 0 20px;
			font-family: "Roboto", Arial, sans-serif;
			font-style: normal;
			font-weight: normal;
			font-size: 14px !important;
			color: #FFFFFF;
			border-color: var(--site-accent-hex);
		}	
		.wc-quick-view-modal .button:hover {
			background: #f9bb23;
			border-color:#f9bb23;
			color: #ffffff;
		}
		.wc-quick-view-modal div.wc-quick-view-product form.cart .variations_button{
			float:left;
			margin-top: 0!important;
		}
		.wc-quick-view-modal div.wc-quick-view-product .fav_btn{
			margin-bottom: 0;
			float: left;
			margin-left: 10px;
		}
		.wc-quick-view-modal div.wc-quick-view-product .product_meta>span {
			display: block;
			padding: 8px 10px;
			border-bottom: 1px solid #eee;
		}
		
		.wc-quick-view-modal div.wc-quick-view-product .wc-quick-view-product-summary .entry-title {
			font-size: 28px;
			font-weight: 700;
			color: #333;
			margin: 0 0 15px;
			line-height: 1.2;
		}

		@media screen and (max-width: 600px) {
			.blocker .wc-quick-view-modal div.wc-quick-view-product .wc-quick-view-product-summary {
				padding: 145px 30px 35px;
			}
		}
		@media screen and (max-width: 768px) and (min-width: 640px) {
			.blocker .wc-quick-view-modal div.wc-quick-view-product .wc-quick-view-product-summary {
				padding: 185px 30px 35px;
			}
			.wc-quick-view-modal div.wc-quick-view-product .wc-quick-view-product-gallery .flex-viewport {
				margin-bottom: 0!important;
				height: auto!important;
			}
			.wc-quick-view-modal.with-product-details div.wc-quick-view-product .wc-quick-view-product-gallery {
				width: auto!important;
				float: none!important;
				min-width: 80%!important;
				max-width: 80%!important;
				margin: 0 auto!important;
			}
			.variations .value #size{
				width:90%;
			}
			.wc-quick-view-modal div.wc-quick-view-product form.cart table.variations .value {
				padding-bottom: .7em;
			}
		}
		@media screen and (max-width: 1024px) and (min-width: 860px){
			.wc-quick-view-modal.with-product-image.with-product-details {
				max-width: 500px;
				padding: 0;
			}
			.blocker .wc-quick-view-modal div.wc-quick-view-product .wc-quick-view-product-summary {

				width: 100%!important;
				float: none!important;
				display: block;
				padding: 40px 40px 30px;
			}
			.wc-quick-view-modal div.wc-quick-view-product .wc-quick-view-product-summary .entry-title {
				font-size: 28px;
				font-weight: 700;
				color: #333;
				margin: 0 0 15px;
				line-height: 1.2;
			}
			.wc-quick-view-modal div.wc-quick-view-product .wc-quick-view-product-gallery .flex-viewport {
				margin-bottom: 0!important;
				height: auto!important;
			}
			.wc-quick-view-modal.with-product-details div.wc-quick-view-product .wc-quick-view-product-gallery {
				width: auto!important;
				float: none!important;
				min-width: 80%!important;
				max-width: 80%!important;
				margin: 0 auto!important;
			}
		}
	/*=========Snippets:- Parts lists (Woo Product Table plugin) customization==================*/
	/* General table setup: ***************************************/
		
		/* Remove product table top and bottom margins: */
		/* Doesn't work, no matter how much specificity we add: */
		div.wc-product-table-wrapper.buddyboss-theme {
			margin-top: 0 !important;
    		margin-bottom: 0 !important;
		}

		/* Left-align product table headings: */
		.wc-product-table-wrapper th {
			padding-left: 10px !important; 
		}
		
		/* Make sorting buttons bigger: */ 
		table.dataTable thead .sorting,
		table.dataTable thead .sorting_asc,
		table.dataTable thead .sorting_desc {
		    background-size: 18px !important;
		}

		/* Change color of product list buy button: */ 
		.add_to_cart_button.alt {
			background-color: var(--site-accent-light) !important;
		}

		/* Customize the checkboxes: ************************************/
					
		.wc-product-table-wrapper .multi-cart-check {
			display: inline-flex;
			cursor: pointer;
			position: relative;
			top: -26px !important;
			right: 24px !important;
		}
		
		.wc-product-table-wrapper .multi-cart-check > input {
			height: 20px;
			width: 20px;
			-webkit-appearance: none;
			-moz-appearance: none;
			-o-appearance: none;
			appearance: none;
			background-color: #E8E8E8;
			border: 1px solid var(--site-accent-hex);
			border-radius: 4px;
			outline: none;
			transition-duration: 0.2s;
			cursor: pointer;
		  }

		.wc-product-table-wrapper .multi-cart-check > input:hover {
			border: 2px solid var(--site-accent-hex);
		}

		.wc-product-table-wrapper .multi-cart-check > input:checked {
			border: 1px solid Gray;
		}

		.wc-product-table-wrapper .multi-cart-check > input:checked::before {
			content: '\2713';
			font-size: 25px;
			font-weight: 900;
			display: block;
			text-align: center;
			color: var(--site-accent-hex);
			position: absolute;
			left: 2px;
			bottom: 2px;
		}

		.wc-product-table-wrapper .multi-cart-check > input:active {
			border: 4px solid var(--site-accent-hex);
		}

		/* END: Customize the checkboxes: ************************************/


	/*=============Snippet:-Elementor: image box polaroid effect===============*/		
	.polaroid { 
		transition: all 0.2s ease-in-out !important; 
		box-shadow: var(--site-shadow);
	}
	.polaroid:hover { 
		transform: scale(var(--hover-scale)); 
	}

	/*===========snippets:- Article Customizations=============*/
	/*Change colors for social share button widget in blog hero area: */
	.bb-share-container {
		background-color: rgba(255,255,255,0.5);
		border-radius: 24px;
  		border: 1px solid gray;
	}
	.bb-share-container i {
		color: black;
	}
	.bb-share-container i.fa-facebook:hover {
		color: #4267b2 !important;
		filter: drop-shadow(0 0 3px #4267b2) !important;
	}
	.bb-share-container i.fa-twitter:hover {
		color: #38A1F3 !important;
		filter: drop-shadow(0 0 3px #38A1F3) !important;
	}
	.bb-share-container a>* {
    	opacity: 1;
	}

	/*=============Snippet:-Account Settings=============*/
	
		#buddypress .bp-settings-container .bp-navs #shop-setting:before {
		 	display:none;
		}
		#buddypress .bp-settings-container .bp-navs #shop-setting i {
			font-size: 20px;
			margin-right: 10px;
		}
		.main-navs.single-screen-navs #settings-personal-li{
			display:block!important;	
			width: auto!important;	
		}
		.main-navs.single-screen-navs  #forums-personal-li{
			display:none;
		}

	/*=====Snippet:-Course Grids (Learndash, BuddyBoss, Elementor) site styling=====*/	
	/* BEGIN Elementor posts grid customizations for projects: ***********************************/
		.elementor-post__title a:hover {
			color: var(--site-accent-hex) !important;
		}

		
		
		/* END Elementor posts grid customizations for projects: *************************************/

		
		/* BEGIN BuddyBoss course grid customizations (on archive page, in groups, etc): *************/
		
			/* Adjust the bottom margin of the project archive page's search filter form: */
			#search-filter-form-29869 {
				margin-bottom: -20px;
			}

			/* Hide the grid/list and bb filters above bb course grid on Projects Archive page: */
			/*.ld-secondary-header .bb-secondary-list-tabs {
				display: none !important;
			}
			*/

			/* Hide just the grid filters part of the BB list filter on the projects archive page: */
			.ld-secondary-header .bb-secondary-list-tabs .grid-filters {
				display: none !important;
			}
		
			/* 1. Set the color of the ribbon for NOT STARTED courses to site's secondary-accent color: */
			/*.bb-course-cover .ld-status.ld-status-progress.ld-primary-background.not-started {*/
			.ld-status.ld-status-progress.ld-primary-background.not-started {
				/*background-color: var(--site-secondary-hex) !important;*/
				background-color: var(--site-accent-hex) !important;
			}
			/* 2. Set the color of the ribbon for IN PROGRESS courses to site alert color: */
			/*.bb-course-cover .ld-status.ld-status-progress.ld-primary-background.in-progress {*/
			.ld-status.ld-status-progress.ld-primary-background.in-progress {
				background-color: var(--site-alert-hex) !important;
			}
			/* 3. Set the color of the ribbon for COMPLETED courses to site accent color: */
			/*.bb-course-cover .ld-status.ld-status-complete.ld-secondary-background {*/
			.ld-status.ld-status-complete.ld-secondary-background {
				/*background-color: var(--site-accent-hex) !important;*/
				background-color: DarkGrey !important;
			}
	
		/* END BuddyBoss course grid customizations (on archive page, in groups, etc): *************/
	
		/* BEGIN Learndash course grid shortcode customizations (currently on front page only): *************/
			/* Note: we may use these in articles and projects, for example at end of project to show related projects */
		
			.page-id-25830 .bb-courses-directory {
				display: none;
			}
			.home .bb-courses-directory {
				display: none;
			}
			.bb-cover-list-item {
				box-shadow: var(--site-shadow);		
				transition: all 0.2s ease-in-out !important;
			}
			.bb-cover-list-item:hover {
				box-shadow: var(--site-shadow-hover)!important;	
				transform: scale(var(--hover-scale)); 
			}
		
		/* END Learndash course grid shortcode customizations: *************/

/*=====Snippet:-Section Search styling - archive horiz - select2 - DO NOT EDIT=====*/ 
/* Injected SFP form styling ***************************************************/
		.top-serch-filter{
		  flex: 0 0 100%;
		  margin-top:20px;	
		}
		.top-serch-filter form.searchandfilter{
		  margin-bottom:20px;
		}
		.post-type-archive-product #primary #main .page-title{
			display:none;
		}
		.post-type-archive-product #primary #primary{
			padding-top:0px;
		}
		.bb-courses-header .bs-dir-search{
			display:none;
		}
		#bb-courses-directory-form .bb-title{
			display:none;
		}
		/*.disable-form .select2-container--default .select2-selection--single {
		  background: #c8cbcf;
			pointer-events: none;
		}
		*/
		
		/* All SEARCH DROPDOWNS setup *******************************************/
		
		/* Hide the raw HTML dropdown, so it doesn't show breifly before Select2 can render: */
		#search-filter-form-29986 select.sf-input-select {
			visibility: hidden;
			margin: 0 4px;
		}

		/* The SFP form overall has a left margin, kill it: */ 
		form#search-filter-form-29986 > ul {
			margin-left: 0 !important;
		}
		
		/* Make the select boxes have some spacing between them: */ 
		form#search-filter-form-29986 ul li {
			margin: 0 4px !important;
		}
		
		
		/* Master container should be minimally styled */
		.select2-container { 
			width: 146px !important;
			min-width: 120px;
			font-family: Roboto, Helvetica;
			font-size: 14px;
			text-align: center;
			/*margin: 0 4px;*/
		}

		/* This insures no blue line when focused: */
		.select2-container *:focus {
			outline:10px;
		}

		/* Main element bgnd, border, etc.: */
		.select2-container--default .select2-selection--single {
		  	border-radius: 17px; /* border radius shld be height/2 */
		  	border: 0px;
		  	height: 34px;
			margin: 0;
		}

		/* Main element pre-selection text: */
		.select2-container--default .select2-selection--single .select2-selection__placeholder {
			padding-left: 10px;
		}

		/* Main element selected text: */
		.select2-container--default .select2-selection--single .select2-selection__rendered{
		  line-height:34px;
		}

		/* Selection-clear button (x): */
		.select2-selection__clear {
		  	font-size: 18px;
			float: left !important;
			margin-left: 4px;
		  	top: 1px;
		}

		/* Down-pointing arrow (when selection not opened): */
		.select2-container--default .select2-selection--single .select2-selection__arrow b
		{
		  margin-left: -14px;
		  margin-top: 0;
		  border-width: 5px;
		}

		/* Up-pointing arrow (open box): */
		.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
		  border-width: 5px;
		  margin-top: -4px;
		}

		/* Contextually round some corners of the overall dropdown panel: */
		span.select2-dropdown.select2-dropdown--below {
    		border-radius: 0 0 4px 4px !important;
		}
		span.select2-dropdown.select2-dropdown--above {
    		border-radius: 4px 4px 0 0 !important;
		}

		/* Contextually round some corners of the highlighted option: */
		.select2-dropdown.select2-dropdown--below li.select2-results__option.select2-results__option--highlighted {
    		border-radius: 0 0 4px 4px !important;
		}
		.select2-dropdown.select2-dropdown--below li.select2-results__option.select2-results__option--highlighted {
    		border-radius: 0 0 4px 4px !important;
		}
				
		/* Search box container: */
		.select2-search {
		  margin-top: 1px; /* Search box border */
		}

		/* Search box input field: */
		.select2-search input {
		  	height: 30px; /* Search box height */
		}

		/* This is opened-panel bgnd: */
		.select2-container--open .select2-dropdown--below,
		.select2-container--open .select2-dropdown--above {
			padding: 0 !important;
		}

		/* Elements in the lists: */
		li.select2-results__option {
			padding: 2px 0 !important;
		}

		/* BEGIN COLOR SCHEMES *************************/
		
		/* Main element bgnd, border, etc.: */
		.sf-field-taxonomy-ld_course_category .select2-container--default .select2-selection--single {
		  	background: #53C900;
		}
		.sf-field-post-meta-complexity_level .select2-container--default .select2-selection--single {
		  	background: #3399FF;
		}
		.sf-field-tag .select2-container--default .select2-selection--single {
		  	background: #FF9900;
		}

		/* Container's pre-selection text: */
		.select2-container--default .select2-selection--single .select2-selection__placeholder {
			color: #FFFFFF;
		}

		/* Container's selected text: */
		.select2-container--default .select2-selection--single .select2-selection__rendered{
			color: #FFFFFF;
		}

		/* Selection-clear button (x): */
		.select2-selection__clear {
			color: #FFFFFF;
		}

		/* Down-pointing arrow (when selection not opened): */
		.select2-container--default .select2-selection--single .select2-selection__arrow b
		{
			border-color: #fff transparent transparent transparent;
		}

		/* Up-pointing arrow (open box): */
		.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
			border-color: transparent transparent #fff transparent;
		}

		/* This is opened-panel bgnd: */
		.select2-container--open .select2-dropdown--below,
		.select2-container--open .select2-dropdown--above {
			background: #CCCCCC !important;
		}

		/* Search box input field: */
		.select2-search input {
			background: #EEEEEE;
		}

		/*Selected or hovered element inside:*/
		.select2-container--default .select2-results__option--highlighted[aria-selected]{
			background: #AAAAAA !important;
		}

		/* Color of selected while hovering another: */
		/*.select2-container--default .select2-results__option[aria-selected=true]{
			background: #999999;
			color: #fff;
			opacity: 0.6;
		}*/

		
		/* END COLOR SCHEMES ***************************/

		/*
		1. PAGE: Elementor page shortcode section search forms:
		A. Articles search form on Elementor page: #search-filter-form-29893
		B. Projects search form on Elementor page: #search-filter-form-29961
		C. Shop search form on Elementor page: #search-filter-form-29958

		2. SIDEBAR: Section archive sidebar widget search forms:
		A. Articles search form in theme sidebar widget: #search-filter-form-30044
		B. Projects search form in theme sidebar widget: #search-filter-form-29869
		C. Shop search form in theme sidebar widget: #search-filter-form-30043
		
		3. TEMPLATE: Section archive template injection search forms:
		A. Articles search form in theme horizontal insertion: #search-filter-form-29852
		B. Projects search form in theme horizontal insertion: #search-filter-form-29986
		C. Shop search form in theme horizontal insertion: #search-filter-form-29915

		*/
		
		/* PAGE SETUP ******************************************************************************/

		/* Removes the title Haider hid, so it doesn't take up space: */
		form.bb-courses-directory > div.bb-courses-header {
			display: none;
		}

		/* Project title and subtitle: */
		.projects-header {
			text-align: center;
		}
		.projects-title {
			font-size: 22px;
			margin-bottom: 4px;
		}
		.projects-subtitle {
			font-style: italic;
			font-size: 14px;
			margin-bottom: 12px;
		}
		
		/* Hide buddyboss' own learndash search filter dropdowns: */
		.post-type-archive-sfwd-courses #subnav {
			display: none;
		}
	
		/* Remove top margin on Projects content area, to bring search form in tighter: */
		.post-type-archive-sfwd-courses .content-area {
			padding-top: 0 !important;
		}
		
		/* Center the form and its contents on the page: */
		#search-filter-form-29852,
		#search-filter-form-29986,
		#search-filter-form-29915 {
			text-align: center;		
		}
		#search-filter-form-29986 li.sf-field-category,
		#search-filter-form-29986 li.sf-field-taxonomy-ld_course_category,
		#search-filter-form-29986 li.sf-field-post-meta-complexity_level,
		#search-filter-form-29986 li.sf-field-tag {
			display: inline;
		}
		
	/*=====Snippet:-Site animations and glow=====*/	
	/* BEGIN generic bounce routine ************************************************/
		@keyframes bounce { 
	  		0% { transform: translateY(0); }
	  		100% { transform: translateY(-30px); }
		}
		.bouncing {
	  		animation: bounce 0.6s;
	  		animation-direction: alternate;
	  		animation-iteration-count: infinite;
		}
		/* END generic bounce routine ************************************************/

		
		/* BEGIN Animate the 404 page: **********************************************/
		.bb-img-404 img {
			width: 500px;
			animation: pulse 4s infinite;
		}
		.bb-img-404 img:hover {
  			filter: drop-shadow(0 0 12px var(--site-accent-hex));
			animation: pulse 4s infinite;
		}
		/* END Animate the 404 page: **********************************************/
		
		
		/* BEG Code to make logo glow on home page only: ******************************/
		.page-id-26002 .bb-logo, .bb-mobile-logo, .bs-cs-login-logo {
  			filter: drop-shadow(0 0 6px rgba(83,201,0,0.9));
		}
		/* END Code to make logo glow on home page only: ******************************/

		/******Note footer logo class is misspelled, don't correct it :) **************/

		/* Begin header-logo wiggle+glow on hover: ************************************/
		.bb-logo, .bb-mobile-logo, .bs-cs-login-logo  {
  			filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.25));
			transition: all 0.5s;
		}
		.bb-logo:hover, .bb-mobile-logo:hover, .bs-cs-login-logo:hover {
  			filter: drop-shadow(0 0 6px rgba(83,201,0,0.9));
  			animation: wiggle-header 500ms ease-in;
		}

		@keyframes wiggle-header {
			0% {transform: rotate(3deg);}
		  	25% {transform: rotate(-3deg);}
			50% {transform: rotate(6deg);}
			75% {transform: rotate(-1.5deg);}
			100% {transform: rotate(0deg);}
		}
		/* END header wiggle and glow *************************************************/

		/* BEG footer logo styling and glow+spin on hover ********************************************/
		
		/* Adds a black drop shadow to footer logo: */
		.footer-loto, .logo-footer img { 
			filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.25));
			transition: all 0.6s;
			animation: unwind 0.3s ease-out;
		}

		/* On hover, draw a site-accent green glow on footer logo: */
		.logo-footer:hover img {
			filter: drop-shadow(0 0 6px rgba(83,201,0,0.9));
			animation: windup 1.15s ease-out;
		}

		/* On hover, rotate footer logo clockwise: */
		@keyframes windup {
		  0%   { transform: rotate(0deg); }
		  100% { transform: rotate(360deg);}
		}
		/* On mouse out, footer logo counter-clockwise: */
		@keyframes unwind {
		  0%   { transform: rotate(360deg); }
		  100% { transform: rotate(0deg); }
		}
		/* End footer glow+spin on hover **********************************************/

	/*======Snippets:-Woo shop customizations======*/
	/* Style the add to cart button: */
		.woocommerce-page .single_add_to_cart_button {
			border-radius: 25px !important;
			text-transform: lowercase;
			height: 36px !important;
			padding: 0 16px;
			font-family: "Roboto", Arial, sans-serif;
			font-style: normal;
			font-weight: normal;
			font-size: 14px !important;
			color: #FFFFFF;
			border-color: var(--site-accent-hex);
		}			
		
		/* These position the qty selector so same height as add to cart button: */
		.woocommerce-page .bs-quantity {
			height: 36px !important;
		}	
		.woocommerce-page .bs-quantity input {
		    height: 34px !important;
		}
		
		.woocommerce-page .product form.cart .button {
		    padding-left: 18px !important;
    		padding-right: 18px !important;
		}
	/*======Snippet:-Video:  Elementor vooPlayer embed styling======*/	
	.article-vooplayer {
	  	box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.4);
	}


	.video-skin-player {
		margin-bottom: -8px;
	}

	.elementor-widget-wrap .article-vooplayer {
	  	margin-bottom: 0;
	}

	/*======Snippet:-Video:  Elementor Vimeo embed styling======*/
	.article-vimeo-embed {
    	margin: -56.25% 0 -50px 0;  
	}

	.article-vimeo-embed iframe {
	  	box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.4);
	}

	/*======Snippet:-Video:  Elementor video player Vimeo styling======*/
	.article-video-elementor-vimeo .elementor-widget-container {
		overflow: visible; 
		box-shadow: var(--site-shadow);
	}

	/*======Snippet:-Projects: course intro page======*/

	/* We are using course type "free," with every lesson designated 
		as a free sample, in order to get around viewers not being able to 
		browse course without enrolling.  This css hides the "free sample" badges: */
		.ld-item-list-item-preview .ld-item-components { 
			display: none !important;
		}

		/* Info box: button spacing control */
		.bb-single-course-sidebar .bb-button-wrap .learndash_join_button {
			margin-bottom: 0 !important;
		}
		.bb-course-status-wrap {
			padding-top: 20px;
		}
		
		/* Info box: there is a label below the start button, that tells the type of course, paid, free, open, etc.  Remove it: */
		.bb-course-type.bb-course-type-open, 
		.bb-course-type.bb-course-type-free { 
			display: none !important; 
		}
		
		/* Info box: there is a label below the start button, that shows enrolled count.  Remove it: */
		.bb-course-member-wrap.flex.align-items-center { 
			display: none;
			margin-bottom: 10px;
		}
		
		/************* Info box: Project-start button: control color for all project states: ***************/
		
		/* 2. Info box: Project-start button color for enrolled but not yet started state: */
		.learndash_join_button.btn-advance-start .btn-advance{
			/*background-color: var(--site-secondary-hex);*/
			background-color: var(--site-accent-hex);
		}

		/* 3. Info box: Project-start button color for in-progress state: */
		.learndash_join_button.btn-advance-continue .btn-advance {
			background-color: var(--site-alert-hex);
		}

		/* 4. Info box: Project-start button color for completed state: */
		.ld-status.ld-status-complete.ld-secondary-background {
/*			background-color: var(--site-accent-hex);
*/			background-color: var(--site-disabled-hex);
		}
		
		/************** BEGIN: Info box: Project-status lozenge: remove lozenge backround for each status: *************/

		/* 0. Info box on project start page: remove top padding from course status lozenge: */
		.bb-course-preview-content .bb-course-status-content {
			padding-top: 0 !important;
		}

		/* 1. Info box on project start page: hide "not enrolled" lozenge bgnd */
		/* 2. Info box on project start page: hide "not started" lozenge bgnd */
		.bb-course-status-content .ld-status.ld-status-incomplete.ld-third-background, 
		.bb-course-status-content .ld-status.ld-status-incomplete.ld-primary-background {
			background: none; 
			font-weight: bold; 
			font-style: italic;
			padding: 0;
		}
		
		/* 3. Info box on project start page: hide "in progress" lozenge bgnd */
		.bb-course-preview-content .ld-status.ld-status-progress.ld-primary-background.in-progress{
			background: none !important; 
			font-weight: bold; 
			font-style: italic;
			color: var(--site-disabled-hex)!important;
		}
		/*Haider ribbon style*/
		
		.learndash-wrapper .ph-ld-primary-background {
		    background: none !important;
		    font-weight: 400;
		    font-style: italic;
		    color: var(--site-disabled-hex)!important;
		}
		.learndash-wrapper .ld-status-complete.ph-ld-secondary-background{
          background-color: var(--site-disabled-hex)!important;
		}
		.bb-cover-list-item .ph-ld-primary-background{
			font-weight: 400;
			font-style: italic;
			color: #fbfbfc!important;
			background-color: var(--site-alert-hex)!important;
		}
		
		/************** END: Info box: Project-status lozenge: remove lozenge backround for each status: *************/

		/* Removes "in progress" lozenge from the progress bar on Course intro page: */
		.ld-course-status .ld-status {
			display: none !important;
		}

		/* Hide "last activity on" label on project start page progress bar: */
		.ld-progress-inline .ld-progress-steps {
			display: none !important;
		}

		/* Hide "View Project Details" button below course description: */
		/* Hide and/or collapse the whole space: */
		/* div.bb-course-points { 
		    display: none;
		    visibility: hidden;
		}*/		
		/* Hide and/or collapse just part of the space: */
		.bb-course-points > .anchor-course-points {
		    display: none;
		    /*visibility: hidden;*/
		}
		
		/* Style Bookmark button for project page: */
		.bb-course-banner-inner .bookmark {
			margin-top: 30px !important;
		}
		.simplefavorite-button i {
			margin-top: 5px !important;
		}
		
		/* Style time stamp: */
		.post-date.project {
			color: #ffffff;
			margin-bottom: 20px;
			font-weight: bold;
		}
		.post-date.project .last-modified-timestamp {
			font-weight: normal;
			font-style: italic;
		}

		/*======Snippet:-Projects: lesson pages======*/
		/* BEGIN Styling for non-member "join us" prompts: ************************/
		
		/* Text link prompts: */
		.sfwd-lessons-template-default .join-link {
			color: var(--site-alert-hex);
			font-size: 0.875em;			
		}
		.sfwd-lessons-template-default .join-link:hover {
			color: var(--site-alert-hex);
			font-size: 0.875em;			
		}

		/* Button-styled prompts: */
		.sfwd-lessons-template-default .join-button {
			background-color: var(--site-alert-hex);
			padding: 10px 20px;
			border-radius: 100px;
			color: white;
			font-size: 0.875em;
		}
		.sfwd-lessons-template-default .join-button:hover{
			background-color: var(--site-accent-hex);
    	}
			
		/* END Styling for non-member "join us" prompts: ************************/

		
		/* Fwd/back nav buttons: make site-style not rando colors: */
		.learndash_next_prev_link a:hover { 
			background-color: var(--site-accent-hex) !important;
		}

		/* Lesson status badge: hide completely for visitors: */
		/* or change text to "sign in to save progress!"

		/* Lesson status badge: convert into text and style: 'in progress' state: */
		.bb-ld-status .ld-status.ld-status-progress.ld-primary-background {
			background-color: transparent !important;
			color: var(--site-alert-hex) !important;
			/*font-weight: bold !important;
			font-style: italic;*/
			font-size: small;
			text-transform: uppercase !important;
		}
		/* Lesson status badge style: 'completed' state: */
        .bb-cover-list-item .ld-status.ph-ld-secondary-background{
          background-color: var(--site-disabled-hex)!important;

        }
        /* Lesson status badge style: 'start' state: */
        .bb-cover-list-item .ph-start-ld-primary-background{
         background-color: #dbbe1a!important;
        }
        
        /* Lesson status badge style: 'building this' state: */
        .bb-cover-list-item .ph-free-ld-third-background{
          background-color:var(--site-accent-hex) !important;
        }
		/* Lesson status badge: convert into text and style: 'completed' state: */
		.bb-ld-status .ld-status.ld-status-complete.ld-secondary-background {
			background-color: transparent !important;
			color: var(--site-accent-hex) !important;
			/*font-weight: bold !important;
			font-style: italic;*/
			font-size: small;
			text-transform: uppercase !important;
		}
		
		/* Progress bar: what color should the line be? */
		.ld-progress-bar-percentage.ld-secondary-background {
			background-color: DarkGrey !important; /*DarkGrey is a medium grey, DimGrey is a dark grey */
			/*background-color: var(--site-accent-hex) !important;*/
		}
		
		/* Progress bar percentage text: */
		.ld-progress-percentage.ld-secondary-color.course-completion-rate {
			color: DarkGrey !important; /*DarkGrey is a medium grey, DimGrey is a dark grey */
		}

		/* Fetured Course color:*/
		.bb-cover-list-item .featured-project .featured-course-background{
               background-color: #00ef12!important;
		}

		/* Featured Course color:*/
		  .bb-single-course-sidebar .featured-course-background {
		  	position: absolute;
		    z-index: 9;
		    top: 15px;
		    background-color: #00ef12;
		    border-radius: 0 15px 15px 0;
		    color: #fff;
		    text-align: center;
		    padding: 5px 12px;
		    text-transform: uppercase;
		    font-size: 11px;
		    line-height: 1;
		    letter-spacing: .23px;
		}

		/* Lesson sidebar: hide members list below the course-steps list: */
		.lms-course-members-list {
			display: none;
		}
		
		/* Lesson sidebar: enhance highlighting of the current lesson: */
		.lms-lesson-item.current>.bb-lesson-head, 
		.lms-quiz-item.current>.bb-lms-title-wrap, 
		.lms-topic-item.current>.bb-lms-title-wrap {
			color: var(--site-accent-hex) !important;
		}	
		
		/* Lesson sidebar: hide BuddyBoss stats injection: */
		.ld-table-list-header { 
			display: none !important; 
		}

 /*======Snippet:-Toolset search filter test======*/
 /* BEGIN Styling for all types ********************************************************/
		

		/* Make the button groups centered on the page: */
		.filter-button-category,
		.filter-button-tag,
		.filter-button-complexity {
			text-align: center;
		}	
		
		/* Make the buttons next to each other: */
		.filter-button-category div.form-check,
		.filter-button-tag div.form-check,
		.filter-button-complexity div.form-check {
			display: inline-block;
		}	
		
		/* Hide the input elements: */
		.filter-button-category input,
		.filter-button-tag input,
		.filter-button-complexity input {
  			display: none;
		}
		
		/* Style the button labels: */
		.filter-button-category .form-check-label,
		.filter-button-tag .form-check-label,
		.filter-button-complexity .form-check-label {
			background-color: rgba(0,0,0,0);
			padding: 3px 16px;
			font-family: sans-serif, Arial;
			font-size: 14px;
			border-color: #53C900;
			border-style: solid;
			border-width: 1px;
			border-radius: 100px;
			color: #53C900;
			margin-left: -16px;
			margin-right: 4px;
		}

		/* Style the category row differently: */
		.filter-button-category .form-check-label {
			background-color: rgba(0,0,0,0.3);
			color: white;
			border-width: 0;
		}

		/* Style the complexity row differently: */
		.filter-button-complexity .form-check-label {
			background-color: rgba(0,0,0,0.15);
			color: #666666;
			border-width: 0;
		}

		/* Style the tags row differently: */
		.filter-button-tag .form-check-label {
			background-color: rgba(0,0,0,0.05);
			color: gray;
			border-width: 1px;
			border-color: #CCCCCC;
		}

		/* Since thee are enough tag buttons to wrap to multiple lines, they get some bottom margin: */
		.filter-button-tag .form-check-label {
			margin-bottom: 10px;
		}

		/* Style the selected button differently: */
		.filter-button-category .form-check-input:checked + label,
		.filter-button-tag .form-check-input:checked + label,
		.filter-button-complexity .form-check-input:checked + label {
			background-color: #53C900;
			color: white;
		}

		/* Add hover feedback: */
		.filter-button-category .form-check-label:hover,
		.filter-button-tag .form-check-label:hover,
		.filter-button-complexity .form-check-label:hover {
			background-color: #53C900;
			color: white;
		}		

		/* END Styling for all types **********************************************************/

		/**Shop Page sidebar customization*/
		.has-sidebar:not(.profile-sidebar):not(.group-sidebar):not(.llms-pointer) #primary.has-wc-sidebar{
			max-width: 100%;
		}
		.has-sidebar:not(.profile-sidebar):not(.group-sidebar):not(.llms-pointer) #primary.has-wc-sidebar .content-area{
			max-width: 100%;
		}